@using ApiStudyBuddy.Models;
@model DeckGroupViewModel

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

@{
    await Html.RenderPartialAsync("_CreateDeck", new Deck());
}

<div class="modal fade" id="createDeckGroup-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CreateDeckGroup" asp-controller="MyStudies" id="AddDeckGroup" method="post">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Deckgroup.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label asp-for="DeckGroupName" class="forrm-label">Deckgroup Name:</label>
                        <input asp-for="DeckGroupName" class="form-control" type="text" id="deckgroupName" aria-required="true" />
                        <span asp-validation-for="DeckGroupName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="DeckGroupDescription">Description:</label>
                        <textarea asp-for="DeckGroupDescription" class="form-control" rows="4" cols="50" id="deckgroupDescription" aria-required="true"></textarea>
                        <span asp-validation-for="DeckGroupDescription" class="text-danger"></span><br><br />
                    </div>
                    <div>
                        <input type="checkbox" id="makepublic">
                        <label asp-for="IsPublic">Make it public</label><br>
                    </div>
                    <div>
                        <input type="radio" id="readOnly" />
                        <label asp-for="ReadOnly">Read Only</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id ="create-deck-btn" type="submit" class="btn btn-primary" data-toggle="modal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#create-deck-btn").click(function () {
            $("#createDeck-modal").modal('show');
        });
    </script>
}