@model IEnumerable<ApiStudyBuddy.Models.FlashCard>

@{
    ViewData["Title"] = "EditFlashCard";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Edit a Flashcard</h2>
<div class="form-horizontal">
    <form method="post">
        <p>
            <button type="submit" class="btn btn-primary" role="button">Save</button>
        </p>
    </form>
</div>