@{
    ViewData["Title"] = "Home Page";
}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        min-height: 100vh;
        padding: 0;
        box-sizing: border-box; 
        font-family: sans-serif;
        background: #eee;
    }
    .container{
        padding-top: 100px;
        margin: auto;
        width: 500px;
        max-width: 100%;
    }
    .container form {
        width: 100%;
        height: 100%;
        padding: 20px;
        background: white;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba(0,0,0,.3);
    }
    .container form h1{
        text-align: left;
        margin-bottom: 24px;
        color: #222;
    }
    img{
        padding: 40px;
        margin-left: 80px;
    }
    .container form .form-control{
        width: 100%;
        height: 40px;
        background: white;
        border-radius: 4px;
        border: 1px solid silver;
        margin: 10px 0 18px 0;
        padding: 0 10px;
    }
    button {
        width: 100%;
        margin: 10px 0 15px 0;
        padding: 0 10px;
    }
   
</style>
<body>
    <div class="container">
        <form action="">
            <img src="./lib/images/ntclogo.png" />
                <h1>Sign In</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>
            <div class="mb-4 form-check">
                <a href="" style="color: dodgerblue; padding-left: 120px;">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary" role="button">Sign In</button>
            <button type="submit" class="btn btn-primary" role="button" href="~/NewAccount">Create New Account</button>
        </form>
    </div>
</body>
