@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
	<ul class="navbar-nav ms-auto">
		<span class="navbar-text">
			Hello, @User.Identity.Name
		</span>
		<li>
			<a asp-controller="Account" asp-action="Logout" class="nav-link" role="button">Logout</a>
		</li>
	</ul>
}
else
{
	<ul class="navbar-nav ms-auto">
		
	</ul>
}
