@using ApiStudyBuddy.Models;
@model ApiStudyBuddy.Models.User
@{
    ViewData["Title"] = "MySession";
    Layout = "~/Views/StudySession/_studySessionLayout.cshtml";
    var baseurl = ViewBag.BaseUrl;
}
<h1>My Session</h1>
<hr class="border border-primary border-3 opacity-75">
<p>Select any "My Session" units to start a study session with them.</p>
<br/>
<div class="row gx-4" style="text-align:center;">
    <div class="col">
        <div class="p-2">
            <h2>Deck Groups</h2>
            <ul class="list-group">
                <select id="deckGroupList" asp-for="UserDeckGroups">
                @foreach(UserDeckGroup userDeckGroup in Model.UserDeckGroups)
                {     
                     <option onclick="">@userDeckGroup.DeckGroup.DeckGroupName </option>  
                }  
                </select>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="p-2">
            <h2>Decks</h2>
            <ul class="list-group">
                <select id="deckList" asp-for="UserDecks">
                @foreach (UserDeck userDeck in Model.UserDecks)
                {                   
                     <option onclick="">@userDeck.Deck.DeckName </option>
                }
                </select>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="p-2">
            <h2>Flashcards</h2>
            <ul class="list-group">
                <select id="deckFlashCardList" disabled asp-for="UserDecks">
                    @foreach(UserDeck userdeck in Model.UserDecks)
                    {
                        @foreach (DeckFlashCard deckFlashCard in @userdeck.Deck.DeckFlashCards)
                        {
                            <option>@deckFlashCard.FlashCard.FlashCardQuestion</option>
                        }
                    }
                </select>
            </ul>
        </div>
    </div>
</div>

