@{
    ViewData["Title"] = "MySession";
    Layout = "~/Views/StudySession/_studySessionLayout.cshtml";
}

<h1>My Session</h1>
<hr class="border border-primary border-3 opacity-75">
<br/>
    <div class="row gx-4" style="text-align:center;">
        <div class="col">
            <div class="p-2"><h2>DeckGroups</h2>

            </div>
        </div>
        <div class="col">
            <div class="p-2"><h2>Decks</h2>
                
            </div>
        </div>
        <div class="col">
            <div class="p-2"><h2>Flashcards</h2>
                
            </div>
        </div>
    </div>

