@model ApiStudyBuddy.Models.DeckGroup
@{
    ViewData["Title"] = "MySession";
    Layout = "~/Views/StudySession/_studySessionLayout.cshtml";
    var baseurl = ViewBag.BaseUrl;
}
<h1>My Session</h1>
<hr class="border border-primary border-3 opacity-75">
<p>Select any "My Session" units to start a study session with them.</p>
<br/>
    <div class="row gx-4" style="text-align:center;">
        <div class="col">
            <div class="p-2"><h2>DeckGroups</h2>
                <div class="mb-3">
                <select asp-for="DeckGroupId" class="form-select" size="3" aria-label="Size 3 select example"
                            asp-items="@(new SelectList(ViewBag.DeckGroups, "DeckGroupId", "DeckGroupName"))">
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-2"><h2>Decks</h2>
                <div class="mb-3">
                    <select id="Deck" class="form-select" size="3" aria-label="Size 3 select example">
                    </select>
                </div>
            </div>
        </div> 
        <div class="col">
            <div class="p-2"><h2>Flashcards</h2>
                <div class="mb-3">
                    <select id="FlashCard" class="form-select" size="3" aria-label="Size 3 select example">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

