
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
            <img style="width: 30%; height:30%;" src="~/lib/images/ntclogo.png" />
    </div>
    <div class="col" style="text-decoration:double;">
            <h1 style="padding-top: 25px;">NTC Study Buddy</h1>
    </div>
    <div class="col">
      @*(Another image here eventually)*@
    </div>
  </div>
</div>

<hr class="border border-primary border-3 opacity-75">

<div class="container overflow-hidden text-center" style="margin-top: 350px;">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3" type="button" style="background:#005daa; border-radius: 10px;"><a style="text-decoration:none;" href="/MySession"><h2 style="color:white;">Study Session</h2></a></div>
        </div>
        <div class="col">
            <div class="p-3" type="button" style="background:#005daa; border-radius: 10px;"><a style="text-decoration:none;" href="/MyDashboard"><h2 style="color:white;">My Studies</h2></a></div>
        </div>
    </div>
</div>