@{
    ViewData["Title"] = "Confirm Registered User";
}


<div class="card text-center" style="margin: 150px;">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h1 style="padding: 20px;" class="card-title">Hello @Model.Username</h1>
    <h2 class="card-text">Welcome to Study Buddy!</h2>
	<i class="fa-regular fa-square-check fa-beat fa-10x" style="color: #24e02b; padding: 20px;"></i><br/><br/>
    <div style="padding: 20px;"><a href="/Login" class="btn btn-primary btn-lg">Login</a></div>
  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>




